{% extends "base.html" %}
{% block title %}Set New Password{% endblock %}
{% block content %}
<div class="form-card">
  <h2>Set New Password</h2>
  <p class="sub">Enter your new password below.</p>
  <form method="POST">
    <div class="form-group">
      <label for="password">New Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Min. 8 characters" required autofocus>
    </div>
    <button type="submit" class="btn btn-primary btn-block">
      <i class="fas fa-key"></i> Reset Password
    </button>
  </form>
</div>
{% endblock %}
